.container {
  max-width: 768px;
  margin-inline: auto;
  width: 100%;

  @include desktop {
    max-width: 1920px;
  }
}

.container__content {
  padding-left: 80px;
  padding-right: 80px;

  @include desktop {
    padding-left: 202px;
    padding-right: 279px;
  }
}
