:root {
  /* Start color */
  --color-primary-transparency: #fff;
  --color-primary: #1f242e;
  --color-second: #14212bcc;
  --color-tertiary: #14212b;
  --color-quaternary: #08151f;
  --color-gray-light: #575757;
  --color-highlight: #f5ab48;
  --color-success: #54a029;
  /* End color */
  /* Start background */
  --background-color-primary: #fff;
  --background-color-second: #00000082;
  --background-color-tertiary: #c4c4c4;
  --background-color-accent: #54a02940;
  /* End background */
  /* Start color button */
  --btn-color-primary: #f5ab48;
  --btn-color-secondary: #54a029;
  /* End color button */
  /* Start font */
  --font-primary: "DmSans";
  --font-secondary: "Roboto";
  /* End font */
  /* Start border */
  --border-primary: #7d7d7d;
  /* End border */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "DmSans";
  src: url(../../assets/fonts/DMSans-Regular.ttf) format("truetype");
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
@font-face {
  font-family: "Roboto";
  src: url(../../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-size: 16px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--background-color-primary);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--background-color-primary);
}

.header {
  background-color: var(--background-color-second);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}
@media screen and (min-width: 1920px) {
  .header {
    padding-left: 200px;
    padding-right: 240px;
    padding-bottom: 280px;
  }
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 100px;
}
@media screen and (min-width: 1920px) {
  .header__content {
    padding-bottom: 171px;
  }
}
.header__subtitle {
  color: var(--color-highlight);
  text-transform: uppercase;
  letter-spacing: 6.5px;
  line-height: 50px;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 1920px) {
  .header__subtitle {
    font-size: 13px;
  }
}
.header__title {
  text-transform: capitalize;
  font-size: 58px;
  line-height: 1.3;
  color: var(--color-primary-transparency);
  max-width: 785px;
  font-weight: 700;
}
@media screen and (min-width: 1920px) {
  .header__title {
    font-size: 65px;
  }
}
.header__description {
  color: var(--color-primary-transparency);
  margin-top: 34px;
  margin-bottom: 38px;
  max-width: 616px;
  line-height: 1.6;
  font-size: 14px;
}
@media screen and (min-width: 1920px) {
  .header__description {
    font-size: 16px;
  }
}
.header__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}
.header__video {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--btn-color-primary);
  position: relative;
  margin-left: 19px;
}
@media screen and (min-width: 1920px) {
  .header__video {
    width: 56px;
    height: 56px;
  }
}
.header__icon-polygon {
  background-image: url("../assets/images/icons/hero/polygon.svg");
  width: 12px;
  height: 10px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.header__video-text {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-primary-transparency);
}

.container {
  max-width: 768px;
  margin-inline: auto;
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.main-section {
  padding-left: 140px;
  padding-right: 179px;
  padding-top: 90px;
}
@media screen and (min-width: 1920px) {
  .main-section {
    padding-top: 111px;
    padding-left: 240px;
    padding-right: 279px;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
@media screen and (min-width: 1920px) {
  .navbar {
    gap: 0;
  }
}
.navbar__list {
  display: none;
}
@media screen and (min-width: 1920px) {
  .navbar__list {
    padding-right: 60px;
    font-weight: 600;
    padding-right: 20px;
    align-items: center;
    gap: 45px;
    color: var(--color-primary-transparency);
    display: flex;
    flex-direction: row;
  }
}
.navbar__item, .navbar a {
  color: var(--color-primary-transparency);
  padding-bottom: 5px;
}
.navbar__item:hover, .navbar a:hover {
  border-bottom: 1px solid #f5ab48;
}
.navbar__icon-menu {
  display: block;
  background-image: url("../assets/images/icons/navbar/menu.svg");
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 1920px) {
  .navbar__icon-menu {
    display: none;
  }
}

.inspiration {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 109px;
}
@media screen and (min-width: 1920px) {
  .inspiration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
  }
}
.inspiration__header {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
}
.inspiration__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 18px;
  max-width: 593px;
}
.inspiration__subtitle {
  color: var(--color-highlight);
  letter-spacing: 12.5px;
  line-height: 2.83;
  font-weight: 500;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 1920px) {
  .inspiration__subtitle {
    font-size: 24px;
  }
}
.inspiration__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.07;
}
@media screen and (min-width: 1920px) {
  .inspiration__title {
    font-size: 24px;
  }
}
.inspiration__description {
  line-height: 1.62;
  margin-top: 33px;
}
.inspiration__list {
  padding-top: 39px;
  padding-bottom: 36px;
}
.inspiration__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.inspiration__text {
  color: var(--color-primary);
  line-height: 1.62;
}
.inspiration__icon-earth {
  background-image: url("../assets/images/icons/inspiration/earth-title.svg");
  width: 25px;
  height: 25px;
}
.inspiration__icon-tick {
  background-image: url("../assets/images/icons/inspiration/tick.svg");
  width: 17px;
  height: 30px;
}

.btn {
  border: none;
  background-color: var(--btn-color-primary);
  cursor: pointer;
  color: var(--color-primary-transparency);
}
.btn:hover {
  background-color: #f8981a;
}
.btn__contact {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.03;
}
@media screen and (min-width: 1920px) {
  .btn__contact {
    width: 147px;
    height: 47px;
  }
}
.btn__more {
  width: 120px;
  height: 50px;
  border-radius: 4px;
}
@media screen and (min-width: 1920px) {
  .btn__more {
    width: 160px;
    height: 56px;
  }
}
.btn__about {
  width: 182px;
  height: 58px;
  background-color: var(--btn-color-secondary);
  font-size: 15px;
}
.btn__about:hover {
  background-color: #369300;
}
@media screen and (min-width: 1920px) {
  .btn__about {
    width: 182px;
    height: 58px;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

/*# sourceMappingURL=index.css.map */
