.mission {
  margin-top: 80px;
  @include flex-column;
  align-items: center;
  padding-bottom: 30px;

  @include desktop {
    margin-top: 0;
  }

  @include desktop {
    padding-bottom: 89px;
    padding-top: 112px;
  }

  &__header {
    @include flex-column;
    align-items: center;
    padding-top: 12px;

    @include desktop {
      padding-left: 74px;
    }
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    @include desktop {
      padding-left: 135px;
    }
  }

  &__description {
    max-width: 650px;
    text-align: center;
    margin-top: 25px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 19px;
    width: 100%;
    padding-top: 69px;

    @include desktop {
      padding-left: 183px;
      padding-right: 108px;
      @include flex-row;
    }
  }

  &__item {
    padding-right: 23px;
    height: 100px;
    @include flex-column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    @include cursor;

    &:nth-child(odd) {
      border-right: 1px solid #d2d5d9;
    }

    @include desktop {
      width: 209px;
      height: 100px;
      border-right: 1px solid #d2d5d9;

      &:last-child {
        border-right: none;
      }
    }

    &:hover {
      height: 189px;
      background-color: var(--btn-color-secondary);
      border-radius: 7px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      justify-content: space-evenly;
      color: var(--color-primary-transparency);
    }
  }

  &__text {
    font-size: 12px;
    font-weight: 700;

    @include desktop {
      font-size: 18px;
    }
  }

  &__icon-maternity {
    background-image: url("../assets/images/icons/mission/maternity.svg");
    width: 73px;
    height: 74px;
  }

  &__icon-plant {
    background-image: url("../assets/images/icons/mission/tree.svg");
    width: 65px;
    height: 65px;
  }

  &__icon-agriculture {
    background-image: url("../assets/images/icons/mission/agriculture.svg");
    width: 65px;
    height: 65px;
  }

  &__icon-tractor {
    background-image: url("../assets/images/icons/mission/tractor.svg");
    width: 80px;
    height: 65px;
  }

  &__icon-crops {
    background-image: url("../assets/images/icons/mission/crops.svg");
    width: 65px;
    height: 65px;
  }
}
