.offer {
  margin-top: 70px;

  @include desktop {
    padding-left: 378px;
    padding-right: 371px;
    margin-top: 74px;
  }

  &__list {
    @include flex-column;
    gap: 30px;
    padding-top: 69px;

    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }

  &__header {
    padding-left: 0;
  }

  &__item {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    @include flex-row;
    gap: 15px;
    padding: 20px;
    @include cursor;

    @include desktop {
      width: 566px;
      height: 182px;
      padding-top: 39px;
      padding-bottom: 44px;
      padding-left: 27px;
      padding-right: 10px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;

    @include desktop {
      font-size: 32px;
    }
  }

  &__description {
    font-size: 12px;
    color: var(--color-gray-light);
    padding-top: 19px;
    line-height: 1.62;

    @include desktop {
      font-size: 14px;
    }
  }

  &__icon-wheats {
    background-image: url("../assets/images/icons/offer/wheats.svg");
    width: 60px;
    height: 81px;
  }

  &__icon-fruits {
    background-image: url("../assets/images/icons/offer/fruits.svg");
    width: 72px;
    height: 82px;
  }

  &__icon-vegetable {
    background-image: url("../assets/images/icons/offer/vegetable.svg");
    width: 70px;
    height: 76px;
  }

  &__icon-track {
    background-image: url("../assets/images/icons/offer/track.svg");
    width: 75px;
    height: 64px;
  }

  &__icon-farm {
    background-image: url("../assets/images/icons/offer/farm.svg");
    width: 70px;
    height: 74px;
  }

  &__icon-cattle {
    background-image: url("../assets/images/icons/offer/cattle.svg");
    width: 81px;
    height: 62px;
  }
}
