.provide {
  background-color: #54a029cf;
  height: 415px;
  color: var(--color-primary-transparency);
  margin-top: 113px;
  @include flex-column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;

  @include desktop {
    height: 615px;
    margin-top: 414px;
    padding-top: 131px;
    padding-left: 0;
    padding-right: 0;
  }

  &__content {
    @include flex-column;
    align-items: center;
    width: 100%;

    @include desktop {
      max-width: 1119px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 3.6px;
    margin-bottom: 21px;
    text-align: center;
    text-transform: capitalize;

    @include desktop {
      font-size: 56px;
    }
  }

  &__description {
    font-size: 14px;
    margin-bottom: 33px;
    text-align: center;
    line-height: 1.62;

    @include desktop {
      font-size: 16px;
      max-width: 510px;
    }
  }

  &__icon-strawberry {
    background-image: url("../assets/images/icons/provide/strawberry.svg");
    display: none;

    @include desktop {
      width: 233px;
      height: 282px;
      display: block;
      position: absolute;
      top: 55px;
      left: 94px;
    }
  }

  &__icon-strawberry-right {
    background-image: url("../assets/images/icons/provide/strawberry.svg");
    display: none;

    @include desktop {
      width: 233px;
      height: 282px;
      position: absolute;
      display: block;
      bottom: 0;
      right: 56px;
    }
  }
}
