.btn {
  border: none;
  background-color: var(--btn-color-primary);
  @include cursor;
  color: var(--color-primary-transparency);

  &:hover {
    background-color: #f8981a;
  }

  &__contact {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    font-weight: 600;
    line-height: 1.03;

    @include desktop {
      width: 147px;
      height: 47px;
    }
  }

  &__more {
    width: 120px;
    height: 50px;
    border-radius: 3px;

    @include desktop {
      width: 160px;
      height: 56px;
    }
  }

  &__about {
    width: 182px;
    height: 58px;
    background-color: var(--btn-color-secondary);
    font-size: 15px;

    &:hover {
      background-color: #369300;
    }

    @include desktop {
      width: 182px;
      height: 58px;
    }
  }

  &__view-detail {
    width: 184px;
    height: 58px;
    border-radius: 3px;
    margin-top: 22px;
    @include flex-row;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  &__started {
    border-radius: 8px;
    margin-top: 37px;
    width: 196px;
    height: 59px;
  }

  &__discover {
    width: 190px;
    height: 60px;
    border-radius: 8px;
  }

  &__send {
    width: 130px;
    height: 50px;
    border-radius: 8px;
    margin-top: 12px;
  }
}
